.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


.navbar {
  display: flex;                  
  justify-content: space-between;  
  align-items: center;           
  background-color:blue;     
  padding: 10px 30px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .brands {
  display: flex;
  align-items: center;

}
.links {
  display: flex;           
  gap: 30px;              
  align-items: center;    
}
.Button{
  display: flex;
  gap: 10px;
  align-items: center;
}
.Button button {
  background-color: #ffffff;    
  color: #030b14;               
  border: 1px solid #0d0d0e;    
  padding: 8px 16px;            
  margin-left: 10px;           
  font-size: 10px;              
  font-weight: 400;              
  border-radius: 5px;          
  cursor: pointer;             
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Button button:hover {
  background-color: #ffcc00;     
  color: black;                  
}


.nav-link {
  color: white;           
  text-decoration: none;   
  font-size: 18px;       
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00;          
}




